.container {
    background-color: aliceblue;}

#gym > label {
    font-weight: 500;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: url(bg.jpg);
    background-position: center;
    background-size: 100%;
    background-attachment: fixed;
    background-position:0px 1px;
}

.header1 {
    min-height: 100vh;
    width: 100%;
    background-image: url(bg5.jpg);
    background-position: center;
    background-position:-50px 1px;
    background-attachment: fixed;
}
.header2 {
    min-height: 100vh;
    width: 100%;
    background-image: url(bg2.jpg);
    background-position: center;
    background-position:-50px 1px;
    background-attachment: fixed;
}

.paragraph1{
    display: flex;
    box-shadow: 0.2rem 0.5rem 2rem;
    margin: 1rem 3rem;
    padding: 2rem;  
    border-radius: 4rem;
    background-color: rgba(89, 201, 113, 0.888);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 100%;
    font-size: 15px;
}
.paragraph2{
    display: flex;
    display: flex;
    box-shadow: 0.2rem 0.5rem 2rem;
    margin: 1rem 3rem;
    padding: 2rem;  
    border-radius: 4rem;
    background-color: rgba(89, 201, 113, 0.888);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 100%;
    font-size: 15px;
}
.paragraph3{
    display: flex;
    display: flex;
    box-shadow: 0.2rem 0.5rem 2rem;
    margin: 1rem 3rem;
    padding: 2rem;  
    border-radius: 4rem;
    background-color: rgba(89, 201, 113, 0.888);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 100%;
    font-size: 15px;
}

h3 {
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}