.container {
    background-color: aliceblue;}

#gym > label {
    font-weight: 500;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: url(bg10.jpg);
    background-position: center;
    background-size: 70%;
    background-attachment: fixed;
    background-position:px px;
}

.header1 {
    min-height: 100vh;
    width: 100%;
    background-image: url(bg5.jpg);
    background-position: center;
    background-position:-50px 1px;
    /* background-size: 100%; */
    background-attachment: fixed;
}
.header2 {
    min-height: 100vh;
    width: 100%;
    background-image: url(bg2.jpg);
    background-position: center;
    background-position:-50px 1px;
    /* background-size: 100%; */
    background-attachment: fixed;
}

.paragraph1{
    display: flex;
    box-shadow: 0.2rem 0.5rem 2rem;
    margin: 1rem 3rem;
    padding: 2rem;  
    border-radius: 4rem;
    background-color: rgba(89, 201, 113, 0.888);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 100%;
    font-size: 15px;
}
.paragraph2{
    display: flex;
    display: flex;
    box-shadow: 0.2rem 0.5rem 2rem;
    margin: 1rem 3rem;
    padding: 2rem;  
    border-radius: 4rem;
    background-color: rgba(89, 201, 113, 0.888);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 100%;
    font-size: 15px;
}
.paragraph3{
    display: flex;
    display: flex;
    box-shadow: 0.2rem 0.5rem 2rem;
    margin: 1rem 3rem;
    padding: 2rem;  
    border-radius: 4rem;
    background-color: rgba(89, 201, 113, 0.888);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 100%;
    font-size: 15px;
}

/* h1 {
    color: aliceblue;
}

h2 {
    color: aliceblue;
}

h3 {
    color: aliceblue;
}

h4 {
    color: aliceblue;
}

h5 {
    color: aliceblue;
}

p {
    color: aliceblue;
} */